/* TODO: Multi- paged news bar cards */
/* Color palletes 1 */
:root {
  /* Color palletes 1 */
  --main-colors-white: #ffffff;
  --main-colors-light-grey: #f0f3f6;
  --main-colors-bleak-blue: #e0f2ff;
  --main-colors-light-blue: #8fbfff;
  --main-colors-blue: #509aff;
  --main-colors-black: #000000;

  /* Color palletes 2 */
  --main-colors-grey: #adadad;
  --main-colors-heathery: #83687b;
  --main-colors-mauve: #64495c;
  --main-colors-syrup: #4f1b1d;
  --main-colors-brown: #2e1115;
  --main-colors-white: #ffffff;

}
html{
  height: 100%;
  font-family: 'Montserrat';

  align-items: center;

  --bg: var(--main-colors-white);
  --main-color: var(--main-colors-bleak-blue);
  --text-color: var(--main-colors-black);
  --color-1: var(--main-colors-light-grey);
  --color-2: var(--main-colors-light-blue);
  --color-3: var(--main-colors-blue);

}

html[data-theme='dark']{
  --bg: var(--main-colors-grey);
  --main-color: var(--main-colors-mauve);
  --text-color: var(--main-colors-white);
  --color-1: var(--main-colors-heathery);
  --color-2: var(--main-colors-syrup);
  --color-3: var(--main-colors-brown);

}

body{
  height: 100%;
  background-color: var(--bg);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

/*navbar */

.navbar-light{
  background-color: var(--main-color);
  color: var(--text-color);
  margin-bottom: 0.5em;
 }

 /*Main menu bar*/

 .info-bar-text{
   color: var(--text-color);
   text-decoration-line: none;
   text-align: left;
   font-size: 1.2em;
   font-weight: 0.2;
 }


 .info-bar-text:hover{
  color: var(--text-color);
}

.info-bar{
  float: left; 
  width: 20%; 
  margin-right: 2em;
  margin-top: 1em;
  margin-left: 2em;
}

.place_box:hover{
  text-decoration: none;
}


/*
.navbar-light{
  position: sticky;
  top: 0;
}
*/

/* Maybe leave border???????????????????????????????????? */
.list-group-item{
  border: none;
  background-color: var(--bg);
}

.list-group-item:hover{
  background-color: var(--main-color);
}

/* Course List */

.course-list-item{
  border-bottom: solid;
  border-bottom-width: 0.1em;
  border-color: var(--text-color);
  border-radius: 0em;
  background-color: var(--bg);
  padding: 1em;
  list-style: none;
  
}

.course-list-item:hover{
  background-color: var(--main-color);
  
}

.course-list-item.table-item{
  border-bottom: none;
}

.list-group.course-list{
  margin-top: 3em;
  border-radius: 0em;
}

/* Filter Menu Bar */
.list-filter-bar{
  margin-top: 3em;
  border-radius: 0em;
}

.list-filter-bar.list-filter-item{
  display: inline;
  list-style: none;
}

.filter-navbar{
  margin-top: 1em;
}

.place-box{
  align-items: center;
}

/* list links*/
.list-item-link{
  text-decoration: none;
  display: block;
  color: var(--text-color);
}

.list-item-link:hover{
  text-decoration: none;
  display: block;
  color: var(--text-color);
}

/* Main content part*/
.container{
  margin: 0em;
  margin-top: 0.3em;
}

.main-content{
  float: right;
  width: 65%;
  margin-right: 5em;
}

.info-card-text{
  height: 4em;
  margin: 0.7em;
}

.card{
  background-color: var(--bg);
  color: var(--text-color);
}

.btn-default{
  background-color: var(--main-color);
  text-decoration: none;
  color: var(--text-color);
}

.btn-default:hover{
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--color-2);
  
}

.alert{
  margin: 0em;
}

.course-group{
  margin-top: 1em;
  margin-bottom: 1em;
}

a.table-row-link{
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
}

a.table-row-link:hover{
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
}

a.info-link{
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
}

a.info-link:hover{
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
}

/* My Page Style */

#account-info-card{
  padding: 1em;
  height: auto;
  word-wrap:break-word;
}

.account-img{
  height: 16em;
  width: 12em;
  margin-top: 2em;
  margin: 1em;
}
.account-img-box{
  background-color: var(--color-1);
  float: left;
  align-items: center;
  margin-right: 2em;
  border-radius: .5em;
}

#edit-account-btn{
  width: 12em;
  margin: 1em;
  margin-top: 0em;
}
.account-content{
  float: right;
  width: 65%;
  margin-right: 5em;
  margin-top: 1em;
}

.account-info-box{
  margin-left: 2em;
}

#account-info-card-text{
  display: none;
  height: auto;
}

.soc-media-link-ico{
  height: 1.5em;
  width: 1.5em;
  margin-right: 1em;
}

.account-divider{
  color: var(--text-color);
  border-bottom: 0.1em solid var(--text-color);
}

#show-full-account-desc-btn{
 margin-top: 1em; 
}

.col.week-schedule-col{
    width: 7em;
}

/* Task */

.task-container{
  border: solid;
  border-width: 0.1em;
}

/* scroll-bar *//* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}