<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css" />

    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/css/admin-style.css}"/>


</head>
<body>
    <div th:each="company : ${companies}">
        <a th:href="@{company/} + ${company.getId()}" th:text='${company.getName()}'></a>
    </div>
    <form action="/$2a$10$HZR3IGneje95jJVEomN.vuEKlxwRt6Tn5oeLEXySZXh7L/WLiX6fm/add_company" method="post">
        <input type="text" name="company_name" placeholder="Company name" required="">
        <input type="text" name="company_email" placeholder="Company email" required="">
        <input type="tel" name="company_telephone" placeholder="Company telephone" pattern="[0-9]{1}-[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" required="">
        <input type="submit">
    </form>
</body>
</html>