<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="blocks/head :: head"></div>
</head>
<body>
    <form action="/$2a$10$HZR3IGneje95jJVEomN.vuEKlxwRt6Tn5oeLEXySZXh7L/WLiX6fm/edit_teacher" method="post">
        <div><input type="text" name="name" placeholder="name" th:value="${teacher.getName()}"></div>
        <div><input type="text" name="surname" placeholder="surname" th:value="${teacher.getSurname()}"></div>
        <div><input type="text" name="lastname" placeholder="lastname" th:value="${teacher.getLastname()}"></div>
        <div><input type="text" name="login" placeholder="login" th:value="${teacher.getLogin()}"></div>
        <div><input type="text" name="password" placeholder="password" th:value="${teacher.getPassword()}"></div>
        <div><input type="text" name="email" placeholder="email" th:value="${teacher.getEmail()}"></div>
        <div><input type="text" name="telephone" placeholder="telephone" th:value="${teacher.getTelephone()}"></div>
        <div>
            <p>Is account non expired</p>
            <select name="is_account_non_expired">
                <option value="1" th:selected="${teacher.isAccountNonExpired()}">True</option>
                <option value="0" th:selected="${!teacher.isAccountNonExpired()}">False</option>
            </select>
        </div>
        <div>
            <p>Is account non locked</p>
            <select name="is_account_non_locked">
                <option value="1" th:selected="${teacher.isAccountNonLocked()}">True</option>
                <option value="0" th:selected="${!teacher.isAccountNonLocked()}">False</option>
            </select>
        </div>
        <div>
            <p>Is credentials non expired</p>
            <select name="is_credentials_non_expired">
                <option value="1" th:selected="${teacher.isCredentialsNonExpired()}">True</option>
                <option value="0" th:selected="${!teacher.isCredentialsNonExpired()}">False</option>
            </select>
        </div>
        <div>
            <p>Is enabled</p>
            <select name="is_enabled">
                <option value="1" th:selected="${teacher.isEnabled()}">True</option>
                <option value="0" th:selected="${!teacher.isEnabled()}">False</option>
            </select>
        </div>
        <div>
            <input type="text" name="company_id" placeholder="company id" th:value="${teacher.getCompanyId()}">
        </div>
        <div>
            <input type="hidden" th:value="${teacher.getId()}" name="teacher_id">
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
</body>
</html>