<!DOCTYPE html>
<!--
 Формы для:
 Имя
 Учитель
 Старт Дэйт
 Дескрипшн
 Формат Времени(возьми у Турара, на тот момент он че то абстрактное сказал).
 (если красиво будет схавают, используй бутстрап список)
 количество занятий
 Пэймент(возьми у Турара, на тот момент он че то абстрактное сказал).
 (страница создать курс)
 -->

<html xmlns:th="http://www.thymeleaf.org" data-theme="light">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:insert="blocks/default-left-menu-bar :: default-left-menu-bar"></div>

</body>
</html>