<!DOCTYPE HTML>
<!--
список(который фильтруется по разным параметрам/ поиск)
-->
<html xmlns:th="http://www.thymeleaf.org" data-theme="light">
<head>
    <div th:insert="blocks/head :: head"></div>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div th:insert="blocks/default-left-menu-bar :: default-left-menu-bar"></div>

<div class="main-content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light filter-navbar">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter By: None
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:href="alp_asc">Name, Alphabet, Ascending</a>
                        <a class="dropdown-item" th:href="alp_desc">Name, Alphabet, Descending</a>
                        <a class="dropdown-item" th:href="none">None</a>
                    </div>
                </li>
            </ul>

            <input class="form-control mr-sm-2" id="company-students-search-bar" type="search" placeholder="Search"
                   aria-label="Search" name="searchKey">
        </div>
    </nav>


    <table class="table" id="company-students-table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Login</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="i :  ${#numbers.sequence(0, students.size() -1 )}">
            <tr class="course-list-item table-item">
                <th scope="row" th:text="${i+1}"></th>
                <td th:text="${students.get(i).getName()}"></td>
                <td th:text="${students.get(i).getSurname()}"></td>
                <td th:text="${students.get(i).getLogin()}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <ul class="list-group course-list">


    </ul>

</div>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
<script th:inline="javascript">

    /*<![CDATA[*/
    var students = /*[[${students}]]*/ [];
    /*]]>*/

    $('#company-students-search-bar').on('keyup', function(){
        var value = $(this).val();
        console.log('Value = ' + value);
        console.log('Value = ' + students.values);

        // Get Filtered Employee

        var data = FilterFunction(value, students);

        //Clear Table, and rebuild it
        rebuildTable(data)

    });

    function FilterFunction(value, data){
        var filterData = [];
        for(var i = 0; i < data.length; i++){
            value = value.toLowerCase();
            var fname = data[i].surname.toLowerCase();
            var name = data[i].name.toLowerCase();

            if( fname.includes(value) || name.includes(value)){
                filterData.push(data[i])
            }
        }
        return filterData;
    }


    function rebuildTable(data){
        var table = document.getElementById('company-students-table')
        table.innerHTML='';
        for(var i = 0; i < data.length; i++){
            var row = `<tr class="course-list-item table-item">
                <th scope="row">i+1</th>
                <td>${data[i].name}</td>
                <td>${data[i].surname}</td>
                <td>${data[i].login}</td>
            </tr>`

            table.innerHTML += row
            }
        }


</script>
</html>