<!DOCTYPE HTML>
<!--
список(который фильтруется по разным параметрам/ поиск)
-->
<html xmlns:th="http://www.thymeleaf.org" data-theme="light">
<head>
    <div th:insert="blocks/head :: head"></div>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div th:insert="blocks/default-left-menu-bar :: default-left-menu-bar"></div>

<div class="main-content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light filter-navbar">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter By: None
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:href="alp_asc">Name, Alphabet, Ascending</a>
                        <a class="dropdown-item" th:href="alp_desc">Name, Alphabet, Descending</a>
                        <a class="dropdown-item" th:href="none">None</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" th:action="@{/search_student}" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                       name="searchKey">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>


    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Lastname</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="i :  ${#numbers.sequence(0, students.size() -1 )}" th:if="${students.size() > 0}"> <!-- style="cursor: pointer" -->
            <tr class="course-list-item table-item">
                <th scope="row" th:text="${i+1}"></th>
                <td><a class="table-row-link" th:href="@{'student_profile/'} + ${students.get(i).getId()}"
                       th:text="${students.get(i).getName()}"/></td>
                <td><a class="table-row-link" th:href="@{'student_profile/'} + ${students.get(i).getId()}"
                       th:text="${students.get(i).getSurname()}"/></td>
                <td><a class="table-row-link" th:href="@{'student_profile/'} + ${students.get(i).getId()}"
                       th:text="${students.get(i).getLastname()}"/></td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <ul class="list-group course-list">


    </ul>

    <div th:if="${current_user.getRole() == 1 or current_user.isAbleToAddStudents()}">
        <form action="/add_student" method="post">
            <input type="text" name="login" placeholder="Login" required="">
            <input type="text" name="name" placeholder="Name" required="">
            <input type="hidden" name="company_id" th:value="${current_user.getCompanyId()}">
            <input type="submit">
        </form>
    </div>


</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>