<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" data-theme="light">
<head>
    <title th:text="${title}" > </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <link rel="stylesheet" type="text/css" href="/css/special_for_additional_info.css" />
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div th:insert="blocks/default-left-menu-bar :: default-left-menu-bar"></div>

<div class="account-content">
    <div class="account-info-box">
        <div class="card" id="account-info-card">
            <h5 class="company-name" th:text="'Название: ' + ${course.getName()}"><button type="button" class="btn btn-light">Edit</button></h5>
            <p class="company-name" th:text="'Описание: ' + ${course.getDescription()}"> Almost As Good As Eating Burgers When You're Hungry</p>

            <a th:text="Расписание" th:if="isStudent" th:href="@{~/student_schedule/} + ${course.getId()}"></a>

            <p th:if="${course.isActive()}" th:text="'Статус: Активен'"></p>
            <p th:unless="${course.isActive()}" th:text="'Статус: Не Активен'"></p>

            <p th:text="'Дата Начала: ' + ${course.getStartDate()}"></p>
            <p th:text="'Дата Завершения: ' + ${course.getEndDate()}"></p>

            <p th:text="'Цена: ' + ${course.getPrice()}"></p>
            <p th:text="'Payout Number: ' + ${course.getPayoutNum()}"></p>
            <a class="info-link" th:text="'Учитель: ' + ${teacher.getName()} + ' ' + ${teacher.getSurname()} + ' ' + ${teacher.getLastname()}"
               th:href="@{'~/teachers_profile/'} + ${teacher.getId()}"></a>
        </div>
        <div>
            <button type="button" onclick="showAdditionalInformation()" class="btn btn-info">Показать расписание</button>
        </div>
    </div>
</div>

<div id="additional-info" class="additional-info hidden">
    <div class="schedule-pop-up">
        <div th:each="i :  ${#numbers.sequence(1, schedule_map.keySet().size())}" th:if="${schedule_map.keySet().size() > 0}">
            <div th:each="schedule : ${schedule_map.get(i)}">
                <h3 th:text="${schedule.getWeekDay()}"></h3>
                <p th:text="${schedule.getStartTime()}"></p>
                <p th:text="${schedule.getEndTime()}"></p>
                <a th:if="${manager.getRole() == 1 or manager.isAbleToDeleteSchedule()}" th:href="@{${course.getId()}} + '/delete_schedule/' + ${schedule.getId()}">DELETE</a>
                <br>
            </div>
        </div>
        <div>
            <th:block th:if="${manager.getRole() == 1 or manager.isAbleToAddSchedule()}">
                <form action="/add_schedule_to_course" method="post">
                    <input type="time" name="start_time" placeholder="Start time" required="">
                    <input type="time" name="end_time" placeholder="End time" required="">
                    <select name = "week_day" required="">
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                    </select>
                    <input type="hidden" name="course_id" th:value="${course.getId()}">
                    <input type="hidden" name="company_id" th:value="${company_id}">
                    <input type="submit">
                </form>
            </th:block>
        </div>
        <div>
            <button type="button" onclick="closeAdditionalInformation()" class="btn btn-info"></button>
        </div>
    </div>
</div>

<script th:src="@{/js/special_for_additional_info.js}"></script>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>