<!DOCTYPE HTML>
<!--
 возьми у ВК
 -->
<html xmlns:th="http://www.thymeleaf.org" data-theme="light">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<div class="container">
    <h2>ОШИБКА!</h2><br>
    <h4>Видимо у нас какие-то неполадки! Что бы то ни было, мы над этим работаем!</h4>

</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>