<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" data-theme="light">
<head>
    <title th:text="${title}" > </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
<header th:insert="blocks/header :: header"></header>


    <div class="info-bar">
        <ul class="list-group">
            <a class="place_box" href="../templates/account-page.html">
                <li class="list-group-item">
                    <h5 class="info-bar-text">Мой Профиль</h5>
                </li>
            </a>


            <a class="place_box" href="../templates/home.html" >
                <li class="list-group-item">
                    <h5 class="info-bar-text">Новости</h5>
                </li>
            </a>

            <a class="place_box" href="../templates/my-courses-page.html" >
                <li class="list-group-item">
                    <h5 class="info-bar-text">Мои Курсы</h5>
                </li>
            </a>

            <a class="place_box" href="../templates/my-tasks-page.html">
                <li class="list-group-item">
                    <h5 class="info-bar-text" >Мои Задания</h5>
                </li>
            </a>

            <a class="place_box" href="../templates/my-attendance-journal.html" >
                <li class="list-group-item">
                    <h5 class="info-bar-text">Журнал Посещения</h5>
                </li>
            </a>

            <a class="place_box" href="../templates/my-teachers-page.html" >
                <li class="list-group-item">
                    <h5 class="info-bar-text">Мои Учителя</h5>
                </li>
            </a>

        </ul>
    </div>

    <div class="main-content">
        <div class="container mt-5">
            <div class="card mt-2">
                <h5 class="card-header">Test Title</h5>
                <p class="info-card-text">Here is general text that will be displayed on show, 
                    Btw, dont forget to create snippet function,
                    that retunrs on part of an whole textHere is general text that will be displayed on show, 
                    Btw, dont forget to create snippet function,
                    that retunrs on part of an whole text</p>
                <a class="btn btn-default" href="../templates/news-page.html">More...</a>
            </div>

        </div>

        <div class="container mt-5">
            <div class="card mt-2">
                <h5 class="card-header">Test Title</h5>
                <p class="info-card-text">Here is general text that will be displayed on show, 
                    Btw, dont forget to create snippet function,
                    that retunrs on part of an whole textHere is general text that will be displayed on show, 
                    Btw, dont forget to create snippet function,
                    that retunrs on part of an whole text</p>
                <a class="btn btn-default">More...</a>
            </div>

        </div>

        <div class="container mt-5">
            <div class="card mt-2">
                <h5 class="card-header">Test Title</h5>
                <p class="info-card-text">Here is general text that will be displayed on show, 
                    Btw, dont forget to create snippet function,
                    that retunrs on part of an whole textHere is general text that will be displayed on show, 
                    Btw, dont forget to create snippet function,
                    that retunrs on part of an whole text</p>
                <a class="btn btn-default">More...</a>
            </div>

        </div>
        
    </div>

    <div th:each="company : ${companies}">
        <p th:text="${company.getName()}"></p>
    </div>

    <footer>
        <img src="/design-flow/footer.png" style="margin: 0; padding: 0; margin-top: 2em; max-width: 100%; max-height: 100%; " >
    </footer>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>