<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" data-theme="light">
<head>
    <div th:insert="blocks/head :: head"></div>

    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" action="/perform_registration">
        <h2 class="form-signin-heading">Please log in</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required=""
                   autofocus="">
        </p>
        <p>
            <label for="username" class="sr-only">Name</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Name" required=""
                   autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                   required="">
        </p>
        <!--            <p>-->
        <!--                <label for="remember-me" class="sr-only">Remember me?</label>-->
        <!--                <input type="checkbox" id="remember-me" name="remember-me" class="form-control">-->
        <!--            </p>-->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    </form>
</div>
</body>
</html>