<!DOCTYPE HTML>
<!--
все посты по новизне(бери тутор где показывают как делать мульти страничные списки)
-->
<html xmlns:th="http://www.thymeleaf.org" data-theme="light">
<head>
    <div th:insert="blocks/head :: head"></div>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container wrapper">
    <div th:insert="blocks/default-left-menu-bar :: default-left-menu-bar"></div>

    <div class="main-content">
        <div class="container mt-5">
            <div class="card mt-2">
                <h5 class="card-header">Test Title</h5>
                <p class="info-card-text">Here is general text that will be displayed on show,
                    Btw, dont forget to create snippet function,
                    that retunrs on part of an whole textHere is general text that will be displayed on show,
                    Btw, dont forget to create snippet function,
                    that retunrs on part of an whole text</p>
                <a class="btn btn-default" th:href="@{generic_task}">More...</a>
            </div>

        </div>

        <div class="container mt-5">
            <div class="card mt-2">
                <h5 class="card-header">Test Title</h5>
                <p class="info-card-text">Here is general text that will be displayed on show,
                    Btw, dont forget to create snippet function,
                    that retunrs on part of an whole textHere is general text that will be displayed on show,
                    Btw, dont forget to create snippet function,
                    that retunrs on part of an whole text</p>
                <a class="btn btn-default">More...</a>
            </div>

        </div>

        <div class="container mt-5">
            <div class="card mt-2">
                <h5 class="card-header">Test Title</h5>
                <p class="info-card-text">Here is general text that will be displayed on show,
                    Btw, dont forget to create snippet function,
                    that retunrs on part of an whole textHere is general text that will be displayed on show,
                    Btw, dont forget to create snippet function,
                    that retunrs on part of an whole text</p>
                <a class="btn btn-default">More...</a>
            </div>

        </div>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>