<!DOCTYPE HTML>
<!--
список его курсов
-->
<html xmlns:th="http://www.thymeleaf.org" data-theme="light">
<head>
    <title th:text="${title}" > </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div th:insert="blocks/default-left-menu-bar :: default-left-menu-bar"></div>

<div class="main-content">

    <!-- Второй фильтр виден если первый не Равен Нулю -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light filter-navbar">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"
                       th:text="${course}? ${'Курс: ' + course.getNameSnippet()}: ${'Курс: Все'}">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <!-- Different link list-->
                        <th:block th:if="${isStudent != null}">
                            <a class="dropdown-item" th:href="@{'~/student_schedule/'}">Все</a>
                            <th:block th:each="course:${courses}">
                                <a class="dropdown-item" th:href="@{'~/student_schedule/'} + ${course.getId()}"
                                   th:text="${course.getName()}"></a>
                            </th:block>
                        </th:block>

                        <th:block th:if="${isTeacher != null}">
                            <a class="dropdown-item" th:href="@{'~/teacher_schedule/'}">Все</a>
                            <th:block th:each="course:${courses}">
                                <a class="dropdown-item" th:href="@{'~/teacher_schedule/'} + ${course.getId()}"
                                   th:text="${course.getName()}"></a>
                            </th:block>
                        </th:block>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

<!--
    <ul class="list-group course-list">
        <a class="list-item-link" th:href="@{'student_courses/'} + ${courses.get(i).getId()}"><li class="course-list-item" th:text="">Course 1</li></a>
        <a class="list-item-link" th:href="@{generic_course}"><li class="course-list-item">Course 2</li></a>
        <a class="list-item-link" th:href="@{generic_course}"><li class="course-list-item">Course 3</li></a>
        <a class="list-item-link" th:href="@{generic_course}"><li class="course-list-item">Course 4</li></a>
    </ul> -->
    <p th:if="${courses == null}"> Не удалось найти записанные курсы. </p>
    <table th:if="${courses != null}" class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Starting Date</th>
            <th scope="col">Currently Active</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="i :  ${#numbers.sequence(0, courses.size() -1 )}" th:if="${courses.size() > 0}" >
            <tr class="course-list-item table-item">
                <th scope="row"  th:text="${i+1}"></th>
                <td>
                    <a class="table-row-link" th:href="@{'courses/'} + ${courses.get(i).getId()}"
                       th:text="${courses.get(i).getName()}"/>
                </td>
                <td >
                    <a class="table-row-link" th:href="@{'courses/'} + ${courses.get(i).getId()}"
                       th:text="${courses.get(i).getStartDate()}"/>
                </td>
                <td>
                    <a class="table-row-link" th:href="@{'courses/'} + ${courses.get(i).getId()}"
                       th:text="${courses.get(i).isActive()}"/>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>