<!DOCTYPE HTML>
<!--
фильтры (по курсам/ исполнению/ времени)
украсть с платонуса
как список
-->
<html xmlns:th="http://www.thymeleaf.org" data-theme="light">
<head>
    <title th:text="${title}" > </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="/css/weekly_schedule_style.css" />

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div th:insert="blocks/default-left-menu-bar :: default-left-menu-bar"></div>


<div class="main-content">

    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Monday </th>
            <th scope="col">Tuesday </th>
            <th scope="col">Wednesday </th>
            <th scope="col">Thursday </th>
            <th scope="col">Friday </th>
            <th scope="col">Saturday </th>
            <th scope="col">Sunday </th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="i :  ${#numbers.sequence(0, managementStaffs.size() -1 )}" th:if="${managementStaffs.size() > 0}">
            <tr class="course-list-item table-item">
                <th scope="row"  th:text="${i+1}"></th>
                <td>
                    <a class="table-row-link" th:href="@{'students_profile/'} + ${teachers.get(i).getId()}"
                       th:text="${managementStaffs.get(i).getName()}"/>
                </td>
                <td>
                    <a class="table-row-link" th:href="@{'students_profile/'} + ${teachers.get(i).getId()}"
                       th:text="${managementStaffs.get(i).getSurname()}"/>
                </td>
                <td>
                    <a class="table-row-link" th:href="@{'students_profile/'} + ${teachers.get(i).getId()}"
                       th:text="${managementStaffs.get(i).getLastname()}"/>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

</div>

<script src="/js/main.js" th:src="@{/js/weekly_schedule.js}"></script>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>