<!DOCTYPE html>
<!--
Имя
Едитабл
Емайл
Телефон
Список курсов(ссылки)
-->
<html xmlns:th="http://www.thymeleaf.org" data-theme="light">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div th:insert="blocks/default-left-menu-bar :: default-left-menu-bar"></div>

<div class="account-content">
    <div class="account-img-box">
        <img class="account-img" src="/design-flow/avatars/avatar_cat.jpg"><br>
        <a class="btn btn-default" id="edit-account-btn" href="#">Edit</a>
    </div>

    <div class="account-info-box">
        <div class="card" id="account-info-card">
            <h5 th:text="${teacher.getUsername()}"></h5>
            <h6 class="account-status" th:text="${teacher.getName()} + ' ' + ${teacher.getSurname()} + ' ' + ${teacher.getLastname()}"></h6>
            <div class="account-divider"></div>
            <p th:text="'Почта: ' + ${teacher.getEmail()}"></p>


            <p th:if="no_courses" th:text="'На данный момент курсы не записаны'"></p>
            <table th:unless="no_courses" class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Starting Date</th>
                    <th scope="col">Currently Active</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="i :  ${#numbers.sequence(0, courses.size() -1 )}" th:if="${courses.size() > 0}" >
                    <tr class="course-list-item table-item">
                        <th scope="row"  th:text="${i+1}"></th>
                        <td>
                            <a class="table-row-link" th:href="@{'~/company_courses/'} + ${courses.get(i).getId()}"
                               th:text="${courses.get(i).getName()}"/>
                        </td>
                        <td >
                            <a class="table-row-link" th:href="@{'~/company_courses/'} + ${courses.get(i).getId()}"
                               th:text="${courses.get(i).getStarDate()}"/>
                        </td>
                        <td>
                            <a class="table-row-link" th:href="@{'~/company_courses/'} + ${courses.get(i).getId()}"
                               th:text="${courses.get(i).isActive()}"/>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <!--
            <button class="btn btn-default" id="show-full-account-desc-btn" onclick="showMoreAccountInfo()">Показать
                подробную информацию
            </button>

            <div class="info-card-text" id="account-info-card-text">
            <p>So, I'm just a cat that lives on a streets. I may be dead, or I may be alive,
                depends on how friendly streets will be during my lifeyime. May be it sucks in a way, but atleast Im not
                smart enough to get into deep feelings and be dreadful about vicious life cycle that awaits me and everyone else.
                Is it good? Idk, Im just a cat! :)

                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><img class="soc-media-link-ico" src="/design-flow/soc-media icons/icons8-реддит.svg" > my reddit link</li>
                    <li class="list-group-item"><img class="soc-media-link-ico" src="/design-flow/soc-media icons/icons8-вконтакте-480.svg" > my vk link</li>
                    <li class="list-group-item"><img class="soc-media-link-ico" src="/design-flow/soc-media icons/icons8-instagram-480.svg" > my instagram link</li>
                    <li class="list-group-item"><img class="soc-media-link-ico" src="/design-flow/soc-media icons/icons8-whatsapp.svg" > my whatsapp link</li>
                    <li class="list-group-item"><img class="soc-media-link-ico" src="/design-flow/soc-media icons/icons8-facebook-480.svg" > my facebook link</li>
                    <li class="list-group-item"><img class="soc-media-link-ico" src="/design-flow/soc-media icons/icons8-github-octocat-480.svg" > my github link</li>
                    <li class="list-group-item"><img class="soc-media-link-ico" src="/design-flow/soc-media icons/icons8-гугл-плюс.svg" > my gmail link</li>
                    <li class="list-group-item"><img class="soc-media-link-ico" src="/design-flow/soc-media icons/icons8-телеграмма-app.svg" > my telegram link</li>
                    <li class="list-group-item"><img class="soc-media-link-ico" src="/design-flow/soc-media icons/icons8-тик-так.svg" > my tik tok link</li>
                  </ul>

            </p>
        </div>
-->
        </div>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>