<!DOCTYPE HTML>
<!--
как в шедуле ДЛа
-->
<html xmlns:th="http://www.thymeleaf.org" data-theme="light">
<head>
    <title th:text="${title}" > </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div th:insert="blocks/teacher-left-menu-bar :: teacher-left-menu-bar"></div>

<ul class="list-group course-list">
    <li class="course-list-item">Date : Status</li>
    <li class="course-list-item">Date : Status</li>
    <li class="course-list-item">Date : Status</li>
    <li class="course-list-item">Date : Status</li>
</ul>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>