<!DOCTYPE HTML>
<!--
список его курсов
-->
<html xmlns:th="http://www.thymeleaf.org" data-theme="light">
<head>
    <title th:text="${title}" > </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div th:insert="blocks/teacher-left-menu-bar :: teacher-left-menu-bar"></div>

<div class="main-content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light filter-navbar">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter By: Alphabet, Ascending
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Alphabet, Ascending</a>
                        <a class="dropdown-item" href="#">Alphabet, Descending</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>


    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Starting Date</th>
            <th scope="col">Currently Active</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="i :  ${#numbers.sequence(0, courses.size() -1 )}" th:if="${courses.size() > 0}" >
            <tr class="course-list-item table-item">
                <th scope="row"  th:text="${i+1}"></th>
                <td>
                    <a class="table-row-link" th:href="@{'teacher_courses/'} + ${courses.get(i).getId()}"
                       th:text="${courses.get(i).getName()}"/>
                </td>
                <td >
                    <a class="table-row-link" th:href="@{'teacher_courses/'} + ${courses.get(i).getId()}"
                       th:text="${courses.get(i).getStarDate()}"/>
                </td>
                <td>
                    <a class="table-row-link" th:href="@{'teacher_courses/'} + ${courses.get(i).getId()}"
                       th:text="${courses.get(i).isActive()}"/>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <!--
    <ul class="list-group course-list">
        <li class="course-list-item">DIO! (Э, ДЫО!)</li>
        <li class="course-list-item">Hō… mukatte kuru no ka…… (Хыо... Ты ка мне приближаешься...)</li>
        <li class="course-list-item">Something on japanese (I can’t beat the shit out of you without getting closer)
        </li>
        <li class="course-list-item">HO HO ! (О Хо Хо...)</li>
    </ul> -->
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>