<div th:fragment="company-left-menu-bar">
    <div class="info-bar">
        <ul class="list-group">
            <a class="place_box" th:href="@{~/company_home}">
                <li class="list-group-item">
                    <h5 class="info-bar-text">Главная</h5>
                </li>
            </a>

            <a class="place_box" th:href="@{~/company_info}">
                <li class="list-group-item">
                    <h5 class="info-bar-text">Профиль Компании</h5>
                </li>
            </a>

            <a class="place_box" th:href="@{~/courses}" >
                <li class="list-group-item">
                    <h5 class="info-bar-text">Курсы Компании</h5>
                </li>
            </a>

            <a class="place_box" th:href="@{~/company_management_stuff}" >
                <li class="list-group-item">
                    <h5 class="info-bar-text">Состав Компании</h5>
                </li>
            </a>

            <a class="place_box" th:href="@{~/company_teachers}" >
                <li class="list-group-item">
                    <h5 class="info-bar-text">Учителя Компании</h5>
                </li>
            </a>

            <a class="place_box" th:href="@{~/company_posts}" >
                <li class="list-group-item">
                    <h5 class="info-bar-text">Посты Компании</h5>
                </li>
            </a>

            <a class="place_box" th:href="@{~/company_students}">
                <li class="list-group-item">
                    <h5 class="info-bar-text" >Студенты Компании</h5>
                </li>
            </a>

        </ul>
    </div>
</div>