<div th:fragment="teacher-left-menu-bar">
    <div class="info-bar">
        <ul class="list-group">
            <a class="place_box" th:href="@{teacher_home}">
                <li class="list-group-item">
                    <h5 class="info-bar-text">Главная</h5>
                </li>
            </a>

            <a class="place_box" th:href="@{teacher_account}">
                <li class="list-group-item">
                    <h5 class="info-bar-text">Мой Профиль</h5>
                </li>
            </a>

            <a class="place_box" th:href="@{teacher_courses}" >
                <li class="list-group-item">
                    <h5 class="info-bar-text">Мои Курсы</h5>
                </li>
            </a>

            <a class="place_box" th:href="@{teacher_posts}" >
                <li class="list-group-item">
                    <h5 class="info-bar-text">Мои Посты</h5>
                </li>
            </a>

            <a class="place_box" th:href="@{teacher_schedule}" >
                <li class="list-group-item">
                    <h5 class="info-bar-text">Мое Расписание</h5>
                </li>
            </a>

            <a class="place_box" th:href="@{teacher_students}">
                <li class="list-group-item">
                    <h5 class="info-bar-text" >Мои Ученики</h5>
                </li>
            </a>


            <a class="place_box" th:href="@{teacher_tasks}">
                <li class="list-group-item">
                    <h5 class="info-bar-text" >Мои Задания</h5>
                </li>
            </a>

        </ul>
    </div>
</div>